a{  
    text-decoration: none;
}

.nav-link {
    padding: 0;
    font-size: 1.25rem;
    line-height: 2.5rem;
    color: rgb(61, 60, 60); }
  
.nav-link:hover,
.nav-link:focus,
.active .nav-link {
   color: rgba(70, 69, 69, 0.8); }
.cover {
    border-radius: 10px; }
      
.cover-bg {
    background-color: #4A89DC;
    background-image: url("https://rb.gy/esbxdw");
    border-radius: 10px 10px 0 0; }

 @media print {
        .noPrint{
          display:none;
        }
      }