
.cover {
    border-radius: 10px; }
      
.cover-bg {
    background-color: #4A89DC;
    background-image: url("https://rb.gy/esbxdw");
    border-radius: 10px 10px 0 0; }

 @media print {
        .noPrint{
          display:none;
        }
      }